button
{

   background: black;
   border: none;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   padding: 8px;
   width: 120px;
   transition: all 0.4s;
   cursor: pointer;
   margin: 5px;
   letter-spacing: 1px;
margin-left: 0px;
 margin-top: 25px;
   display: block;

}
.example_f span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;
 }
 .example_f span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }
 .example_f:hover span {
   padding-right: 20px;
   letter-spacing: 1px;
 }
 .example_f:hover span:after {
   opacity: 1;
   right: 0;
 }
.vl {
  border-left: 4px solid green;
  height: 40px;
  border-radius: 10px;
  padding-top: -2px;
}

