body

 {
    font-family: "Raleway","HelveticalNeue","helveticalNeue",Helvetica,Arial,sans-serif;
 }

nav[role="main"]
 ul {
  list-style-type: none;
  margin: 0;
   padding: 0;
   height: 45px;
  overflow: hidden;
  width: 100%;
     font-size: 2px;
  background-color: #99ff00;
}


nav[role="sub"]
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #292929;
   font-size: 10px;
  height: 35px;
  }
nav[role="main"] li {
 
  float: left;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 2.4em;
}

nav[role="main"] li a {
  display: block;
  color: black;
  padding: 14px 16px;
    text-decoration: none;
  font-size: 14px;


}

li a:hover {
  background-color: #666;
  height: 60px;
}


nav[role="sub"] li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;

}
nav[role="sub"] li {

  float: right;
  text-transform: uppercase;

  font-size: 2.4em;

}

.box
{ 
  /*box design*/
  
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 600px;.
  height: 100%;
  padding: 40px;
  box-shadow: 5px 10px #C0C0C0;
  box-sizing: border-box;
  text-align: center;
  background-color:   #DCDCDC;
 }

  input[type=button] {
  background-color: white; /* Green */
  border: none;
  color: white;
  padding: 18px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  vertical-align: middle;
}

input[type=button] {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;

}
.inputcenter{
          display: inline-block;
        
}
input[type=button]:hover {
  background-color: #4CAF50;
  color: white;
}

label
{
  font-family: "Raleway","HelveticalNeue","helveticalNeue",Helvetica,Arial,sans-serif;
  font-size:13px;
  text-transform: uppercase;
  align-items: center;
 }
 .hi label
 {
  font-size: 24px;
  font-weight: bold;
  color: #3498db;
 }
.box select{
    float: right;
}
.box input
{
    border: 2px solid #4CAF50;
    float: right;

    height: 20px;



}
.box input[type=button]
{
    border: 2px solid #4CAF50 ;
    float: right;

    height: 20px;


}



.upload-btn-wrapper {
  position: absolute;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}


.wrapper-dropdown-5 {
    /* Size & position */
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 12px 15px;

    /* Styles */
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-5:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4cbeff transparent;
}

.wrapper-dropdown-5 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
}

.wrapper-dropdown-5 .dropdown li {
    padding: 0 10px ;
}

.wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-5 .dropdown li:hover a {
    color: #57a9d9;
}

/* Active state */

.wrapper-dropdown-5.active {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-dropdown-5.active:after {
    border-color: #82d1ff transparent;
}

.wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}
table { 
  width: 750px; 
  border-collapse: collapse; 
  margin:50px auto;
  }

/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
  }

th { 
  background: #3498db; 
  color: white; 
  font-weight: bold; 
  }

td, th { 
  padding: 10px; 
  
  text-align: left; 
  font-size: 18px;
  }

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  table { 
      width: 100%; 
  }

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  /*tr { border: 1px solid #ccc; }
*/  
  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }

  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);

    color: #000;
    font-weight: bold;
  }

}
.reportimg img{
  width: 160px;
  height: 50px;
}

h1{
      font-size: 20px;
  }   

  .icon img{
    width: 30px;
    height: 30px;
  }


.button {
  background-color: #3498db; /* Green */
  border: none;
  color: white;
  padding: 3px 9px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  float: right;

}

.button {
  background-color: white; 
  color: black; 
  border: 2px solid #3498db;
}

.button:hover {
  background-color: #3498db;
  color: white;
}