.topnav {

  padding-top: 10px;
  height: 83px;
  background-color: black;
  position: sticky;
 top:0;
 z-index: 10;

}
.topnav a {
  float: right;
  display: block;
  color: #ebebeb;

  text-align: center;
  padding: 6px 25px;
  text-decoration: none;
  font-size: 17px;
  padding-top: 20px;
  transition: 0.1s ease;
}


.topnav a:hover {
  border-bottom: 1px solid;
  color: #23752b;
  margin: 6px 25px;
  padding: 0;
  padding-bottom: 8px;
  padding-top: 15px;
  border-radius: 6px;
}


.topnav .icon {
  display: none;
}

.topnavb {
  overflow: hidden;
border-radius: 10px;


}
.topnavb  {
  float: right;
  display: block;
  color: #ebebeb;

  text-align: center;
  padding: 6px 25px;
  text-decoration: none;
  font-size: 17px;
  padding-top: 25px;
  transition: 0.1s ease;
}


.topnavb:hover {
  border-bottom: 1px solid;
  color: #23752b;
  margin: 6px 25px;
  padding: 6px;
  padding-bottom: 8px;
  padding-top: 15px;
  border-radius: 6px;
}


.topnavb .icon {
  display: none;
}