.example_f button
{
	 border-radius: 4px;

   border: none;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   font-size: 15px;
   padding: 10px;
   width: 150px;
   transition: all 0.4s;
   cursor: pointer;
   margin: 5px;
  
}
.example_f span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;
 }
 .example_f span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }
 .example_f:hover span {
   padding-right: 25px;
 }
 .example_f:hover span:after {
   opacity: 1;
   right: 0;
 }


 .fotbox 
 {

 }
