@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");
* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: rgba(0, 0, 0, 0.7);
}


.modal2 {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
 
  background: rgba(51, 51, 51, 0.5);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.modal2-container2 {
  display: -webkit-box;
  display: flex;
  max-width: 720px;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background: #fff;
  -webkit-transform: translateY(100px) scale(0.4);
          transform: translateY(100px) scale(0.4);
}
.modal2-title2 {
  font-size: 26px;
  margin-top: -50px;
  font-weight: 400;
  color: #55311c;
}
.modal2-desc2 {
  margin: 6px 0 30px 0;
}
.modal2-left2 {
  padding: 60px 30px 20px;
  background: #fff;
  -webkit-box-flex: 1.5;
          flex: 1.5;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  opacity: 0;
}

.modal2-right2 {
  -webkit-box-flex: 2;
          flex: 2;
  font-size: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  height: 300px;
}
.modal2-right2 img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(2);
          transform: scale(2);
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
}
.modal2.is-open2 {
    height: auto;
    background: rgba(51, 51, 51, 0.85);
    z-index: 11;
    top: 0;
   
}
.modal2.is-open2 .modal2-button2 {
  opacity: 0;
}
.modal2.is-open2 .modal2-container2 {
  opacity: 1;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  pointer-events: auto;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}
.modal2.is-open2 .modal2-right2 img {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.modal2.is-open2 .modal2-left2 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.modal2-buttons2 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}
.modal2-buttons2 a {
  color: rgba(51, 51, 51, 0.6);
  font-size: 14px;
}

.sign-up2 {
  margin: 60px 0 0;
  font-size: 14px;
  text-align: center;
}
.sign-up2 a {
  color: #8c7569;
}

.input2-button2 {
  padding: 8px 12px;
  outline: none;
  border: 0;
  color: #fff;
  border-radius: 4px;
  background: #8c7569;
  font-family: "Nunito", sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.input2-button2:hover {
  background: #55311c;
}

.input2-label2 {
  font-size: 11px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #8c7569;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.input2-block2 {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 8px 8px 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.input2-block2 input {
  outline: 0;
  border: 0;
  padding: 4px 0 0;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
}

.input2-block2 input::-webkit-input-placeholder {
  color: #ccc;
  opacity: 1;
}
.input2-block2 input::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
.input2-block2 input:-ms-input-placeholder {
  color: #ccc;
  opacity: 1;
}
.input2-block2 input::-ms-input-placeholder {
  color: #ccc;
  opacity: 1;
}
.input2-block2 input::placeholder {
  color: #ccc;
  opacity: 1;
}
.input2-block2:focus-within {
  border-color: #8c7569;
}
.input2-block2:focus-within .input2-label2 {
  color: rgba(140, 117, 105, 0.8);
}



.icon2-button2 {
  outline: 0;
  position: absolute;
  right: 10px;
  top: -10px;
  width: 32px;
  height: 32px;
  border: 0;
  background: 0;
  padding: 0;
  cursor: pointer;
}



@media (max-width: 750px) {
  .modal2-container2{
    width: 90%;
  }

  .modal2-right2 {
    display: none;
  }
}





